state-machine.json
{
  "Comment": "Example AWS Step Functions workflow using Amazon Bedrock (Nova Lite) to chain multiple prompts while preserving conversation context.",
  "QueryLanguage": "JSONata",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Assign": {
        "counter": "{% $count($states.input.prompts) %}",
        "conversation_history": [
          ""
        ],
        "input_prompts": "{% $reverse($states.input.prompts) %}"
      },
      "Next": "Has Prompt?"
    },
    "Has Prompt?": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $counter > 0 %}",
          "Next": "Invoke Model"
        }
      ],
      "Default": "Success"
    },
    "Invoke Model": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Arguments": {
        "ModelId": "amazon.nova-lite-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "text": "{% $conversation_history[-1] & '.' & $input_prompts[$counter - 1] %}"
                }
              ]
            }
          ],
          "inferenceConfig": {
            "maxTokens": 250
          }
        }
      },
      "Assign": {
        "conversation_history": "{% $append($conversation_history, $states.result.Body.output.message.content[0].text) %}",
        "counter": "{% $counter - 1 %}"
      },
      "Next": "Has Prompt?"
    },
    "Success": {
      "Type": "Succeed",
      "Output": "{% $join($conversation_history[[1..$count($conversation_history)]], '.') %}"
    }
  }
}
